@model List<ZaposleniRadniSati.Managers.ZaposleniManager.ZaposleniRadniSati>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Zaposleni i radni sati</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .table-container {
            margin-right: 50px;
        }

        table {
            border-collapse: collapse;
            font-size: 18px;
            text-align: left;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 12px 15px;
        }

        .low-hours {
            background-color: lightcoral;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; margin-top: 10px;">Zaposleni i radni sati</h1>

    <div class="container">
        <div class="table-container">
            <table>
                <tr>
                    <th>Ime</th>
                    <th>Broj radnih sati</th>
                </tr>
                @foreach (var zaposleni in Model)
                {
                    if (string.IsNullOrEmpty(zaposleni.Ime))
                    {
                        continue;
                    }
                    string rowClass = zaposleni.RadniSati < 100.00 ? "low-hours" : "";
                    <tr class="@rowClass">
                        <td>@zaposleni.Ime</td>
                        <td>@zaposleni.RadniSati.ToString("0")</td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <img src="@ViewBag.PieChartPath" alt="Pie Chart" style="max-width: 600px;" />
        </div>
    </div>
</body>
